@import "normalize.css";
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #023047;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #575b71;
}

.container {
  max-width: 1450px;
  min-height: 200px;
  margin: 0 auto;
  position: relative;
}

@-webkit-keyframes animation {
  100% {
    margin-left: 20px;
  }
}

@keyframes animation {
  100% {
    margin-left: 20px;
  }
}
@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
}
.sction-1 {
  height: 700px;
  margin-bottom: 100px;
  background: url("../img/nabor_instumentov4.jpg") no-repeat;
  background-position: 50% 100%;
}
.sction-1__header {
  margin: 0 auto;
}
.sction-1__contacts {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e7e8ed;
  margin-bottom: 20px;
}
.sction-1__contacts a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sction-1__contacts a:hover {
  color: #cc9900;
}
.sction-1__contacts p {
  font-size: 15px;
}
.sction-1__images {
  height: 50px;
  width: 100px;
}
.sction-1__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
  font-weight: 600;
}
.sction-1__navigation li {
  list-style: none;
}
.sction-1__navigation a {
  border-radius: 13px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sction-1__navigation a:hover {
  color: #cc9900;
  -webkit-box-shadow: 5px 4px 5px #fb8500;
          box-shadow: 5px 4px 5px #fb8500;
  border-radius: 13px;
}
.sction-1__navigation a:active {
  -webkit-box-shadow: 2px 2px 5px #fb8500;
          box-shadow: 2px 2px 5px #fb8500;
  -webkit-transition: 0s;
  transition: 0s;
}
.sction-1__label {
  position: absolute;
  height: 170px;
  width: 300px;
  left: 7%;
  top: 100%;
  padding: 10px;
  text-align: center;
  background-color: #ff9116;
  color: #ffe799;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
}
.sction-1__label .label-inside {
  border: 1px solid #dee0ee;
  height: 100%;
  width: 100%;
}
.sction-1__label .label-inside hr {
  width: 145px;
  border-color: #fb8500;
  margin: 0 auto;
}

.icon-support {
  border: 1px solid black;
  height: 100px;
  width: 150px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: url("../img/support.jpg") 0 0/100% auto no-repeat;
  z-index: 2;
}

.support {
  border: 1px solid black;
  height: 450px;
  width: 300px;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: green;
  z-index: 2;
}

.is-active {
  height: 0;
}

.height-bottom {
  bottom: 450px;
}

.hamburger {
  display: none;
}

.section_2 {
  margin-bottom: 50px;
  position: relative;
}
.section_2__navigation {
  margin-bottom: 30px;
}
.section_2 .icons {
  width: 40px;
  height: 40px;
  display: inline;
  margin-right: 25px;
}
.section_2 .icons p {
  display: inline;
}
.section_2__input {
  display: inline;
  top: 0;
}
.section_2__button {
  width: 80px;
  height: 36px;
  background-color: #fb8500;
  border: none;
  border-radius: 20px;
  color: #333333;
}
.section_2__button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #d26f00;
  color: white;
}
.section_2__find {
  height: 30px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background-color: #e0e1e7;
  border-color: white;
  font-family: "Open Sans", sans-serif;
  outline: none;
}
.section_2__h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 100px;
  display: inline;
  margin-right: 70px;
}
.section_2__katalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section_2__add-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}
.section_2__add-product button {
  height: 25px;
}
.section_2__add-product .to-basket {
  border: none;
  border-radius: 20px;
  background-color: #fb8500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}
.section_2__add-product .to-basket:hover {
  color: white;
  background-color: #d26f00;
}
.section_2__product:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
}
.section_2__product {
  border: 1px solid #dee0ee;
  position: relative;
  height: 500px;
  width: 300px;
  margin-bottom: 50px;
  text-align: center;
}
.section_2__product .text__button {
  width: 40px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: #fb8500;
}
.section_2__product .text__button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #d26f00;
  color: white;
}
.section_2__product .text__favoutires {
  margin-right: 20px;
}
.section_2__product a {
  margin-bottom: 50px;
}
.section_2__product img {
  margin-bottom: 30px;
  width: 250px;
}
.section_2__product h3 {
  font-family: "Roboto Slab", serif;
  margin-bottom: 15px;
  font-weight: 400;
}
.section_2__product p {
  margin-bottom: 40px;
}
.section_2__product span {
  font-size: 25px;
}
.section_2__product s {
  color: #e76f51;
  font-size: 20px;
}
.section_2__text {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.section_2__text .add-product {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  background-color: #fb8500;
  border-radius: 17px;
}
.section_2__text .add-product .minus {
  border: none;
  border-radius: 15px;
  background-color: #fb8500;
  width: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section_2__text .add-product .minus:hover {
  background-color: #d26f00;
  color: white;
}
.section_2__text .add-product .value {
  margin: 0;
  background-color: white;
  padding: 1px 15px;
}
.section_2__text .add-product .plus {
  border-radius: 15px;
  border: none;
  background-color: #fb8500;
  width: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section_2__text .add-product .plus:hover {
  background-color: #d26f00;
  color: white;
}
.section_2__hr {
  width: 1150px;
}

.text-basket {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}
.text-basket:hover {
  color: #fb8500;
  -webkit-box-shadow: 5px 4px 5px #fb8500;
          box-shadow: 5px 4px 5px #fb8500;
}
.text-basket:active {
  -webkit-box-shadow: 2px 2px 5px #fb8500;
          box-shadow: 2px 2px 5px #fb8500;
  -webkit-transition: 0s;
  transition: 0s;
}

.product-img {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.product-img:active {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.set-of-products {
  position: absolute;
  left: 330px;
  z-index: 1;
  background-color: #fff;
  top: 57px;
  height: 300px;
  min-width: 310px;
  max-width: 621px;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.set-of-products img {
  width: 100px;
}
.set-of-products .section_2__product {
  height: 300px;
  margin-bottom: 15px;
}

.empty-basket {
  margin: 45px auto;
  height: 30px;
  width: 150px;
  text-align: center;
  background-color: #fb8500;
  border-radius: 15px;
}

.product-title {
  margin: 0;
}

.product-text {
  margin: 0;
}

.hidden {
  height: 0;
}

.color-scheme {
  color: red;
}

.disp-none {
  display: none;
}

.modal {
  position: fixed;
  left: 33%;
  top: 25%;
  z-index: 1;
  height: 600px;
  width: 700px;
  border: 1px solid black;
  background-color: white;
}
.modal img {
  height: 100%;
  width: 100%;
}

.information {
  margin-bottom: 50px;
}
.information__text {
  max-width: 1000px;
  margin: 0 auto 50px;
}
.information__text h2 {
  color: #575b71;
}
.information__text p {
  color: #575b71;
}
.information hr {
  -webkit-box-shadow: 2px 3px 6px black;
          box-shadow: 2px 3px 6px black;
}

.map {
  text-align: center;
  margin-bottom: 50px;
}

.footer {
  position: relative;
  z-index: 1;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__menu li {
  list-style: none;
}
.footer__menu a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cc9900;
}
.footer__menu li:not(:last-child) {
  margin-bottom: 5px;
}
.footer__menu ul {
  margin: 0;
}
.footer__social {
  margin-bottom: 10px;
}
.footer__social div {
  margin-bottom: 5px;
}
.footer__first-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.footer__first-list li {
  font-size: 30px;
}
.footer__first-list li:not(:last-child) {
  margin-right: 10px;
}
.footer__first-list .fa-vk:hover {
  color: #457b9d;
}
.footer__first-list .fa-square-youtube:hover {
  color: #e63946;
}
.footer__first-list .fa-square-instagram:hover {
  color: #fcbf49;
}
.footer__pay div {
  margin-bottom: 5px;
}
.footer__second-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.footer__second-list li:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 1199px) {
  .container {
    width: 974px;
  }
  .section_2__hr {
    width: 950px;
  }
  .section_2 .icons {
    margin-right: 130px;
  }
  .set-of-products {
    top: 57px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 748px;
  }
  .sction-1__contacts p {
    font-size: 13px;
  }
  .sction-1__navigation {
    font-size: 18px;
  }
  .sction-1__label {
    top: 60%;
  }
  .section_2 .icons {
    margin-right: 25px;
  }
  .section_2__hr {
    width: 700px;
  }
  hr {
    width: 700px;
  }
  .section_2__katalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__menu {
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__menu ul {
    padding: 0;
    font-size: 13px;
  }
  .set-of-products {
    left: 50px;
    top: 57px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 40px;
  }
  .container {
    width: 540px;
  }
  .sction-1__contacts {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    opacity: 0.9;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    z-index: 1;
  }
  .sction-1__contacts_active {
    left: 0;
  }
  .sction-1__contacts p {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .sction-1__contacts .sction-1__images {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 5%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 20px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: black;
    margin-bottom: 2px;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .sction-1__navigation {
    font-size: 15px;
    padding: 0;
  }
  .sction-1__label {
    top: 70px;
  }
  .section_2__hr {
    width: 550px;
  }
  hr {
    width: 550px;
  }
  .section_2__navigation {
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .set-of-products {
    left: 0;
    top: 130px;
    max-width: 100px;
  }
  .section_2__h2 {
    margin: 0 150px 0 0;
  }
  .section_2 .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 150px;
  }
  .section_2 .favourites {
    width: 170px;
    margin: 0;
  }
  .section_2__katalog .section_2__product {
    width: 260px;
    height: 350px;
  }
  .section_2__katalog .product-img {
    width: 120px;
  }
  .section_2__katalog .section_2__text .product-title {
    font-size: 18px;
    font-weight: 500;
  }
  .section_2__katalog .section_2__text .price {
    font-size: 20px;
  }
  .section_2__katalog .section_2__text .old-price {
    font-size: 20px;
  }
  .footer__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__menu .footer__soc_pay {
    margin-top: 40px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
  .sction-1__contacts {
    font-size: 5px;
  }
  .sction-1__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 10px;
  }
  .section_2__find {
    width: 300px;
  }
  .section_2__hr {
    width: 300px;
  }
  hr {
    width: 300px;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}