@import "normalize.css";
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #023047;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #575b71;
}

@-webkit-keyframes animation {
  100% {
    margin-left: 20px;
  }
}

@keyframes animation {
  100% {
    margin-left: 20px;
  }
}
@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
}
.container {
  max-width: 1450px;
  min-height: 200px;
  margin: 0 auto;
}

.main {
  height: 700px;
  margin-bottom: 100px;
  background: url("../img/nabor_instumentov4.jpg") no-repeat;
  background-position: 50% 100%;
  position: relative;
}
.main__header {
  margin: 0 auto;
}
.main__contacts {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e7e8ed;
  margin-bottom: 20px;
}
.main__contacts a:hover {
  color: #cc9900;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main__contacts p {
  font-size: 15px;
}
.main__images {
  height: 50px;
  width: 100px;
}
.main__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
  font-weight: 600;
}
.main__navigation li {
  list-style: none;
}
.main__navigation a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cc9900;
  -webkit-box-shadow: 5px 4px 5px #fb8500;
          box-shadow: 5px 4px 5px #fb8500;
  border-radius: 13p;
}
.main__label {
  position: absolute;
  height: 150px;
  width: 300px;
  left: 20%;
  top: 25%;
  padding: 10px;
  text-align: center;
  background-color: #ff9116;
  color: #ffe799;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
}
.main__label .label-inside {
  border: 1px solid #dee0ee;
  height: 150px;
  width: 300px;
}
.main__label .label-inside hr {
  width: 145px;
  border-color: #fb8500;
  margin: 0 auto;
}

.section_2 {
  margin-bottom: 50px;
}
.section_2__navigation {
  margin-bottom: 30px;
}
.section_2 .icons {
  width: 40px;
  height: 40px;
  display: inline;
  margin-right: 50px;
}
.section_2 .icons p {
  display: inline;
}
.section_2__input {
  display: inline;
  top: 0;
}
.section_2__button {
  width: 80px;
  height: 36px;
  background-color: #fb8500;
  border: none;
  border-radius: 20px;
  color: #333333;
}
.section_2__button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #d26f00;
  color: white;
}
.section_2__find {
  width: 400px;
  height: 30px;
  border-radius: 10px;
  border-color: #dee0ee;
}
.section_2__h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 100px;
  display: inline;
  margin-right: 150px;
}
.section_2__katalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section_2__add-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}
.section_2__add-product .add-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section_2__add-product button {
  height: 25px;
}
.section_2__product:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.36);
}
.section_2__product {
  border: 1px solid #dee0ee;
  position: relative;
  height: 500px;
  width: 300px;
  margin-bottom: 50px;
  text-align: center;
}
.section_2__product .text__button {
  width: 40px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: #fb8500;
}
.section_2__product .text__button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #d26f00;
  color: white;
}
.section_2__product .text__favoutires {
  margin-right: 20px;
}
.section_2__product a {
  margin-bottom: 50px;
}
.section_2__product img {
  margin-bottom: 30px;
  width: 250px;
}
.section_2__product h3 {
  font-family: "Roboto Slab", serif;
  margin-bottom: 15px;
  font-weight: 400;
}
.section_2__product p {
  margin-bottom: 40px;
}
.section_2__product span {
  font-size: 25px;
}
.section_2__product s {
  color: #e76f51;
  font-size: 20px;
}
.section_2__text {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.section_2__text .add-product {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  background-color: #fb8500;
}
.section_2__text .add-product .minus {
  border: none;
  background-color: #fb8500;
  width: 30px;
}
.section_2__text .add-product .minus:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #d26f00;
  color: white;
}
.section_2__text .add-product .value {
  margin: 0;
  background-color: white;
  padding: 1px 15px;
}
.section_2__text .add-product .plus {
  border: none;
  background-color: #fb8500;
  width: 30px;
}
.section_2__text .add-product .plus:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #d26f00;
  color: white;
}
.section_2__hr {
  width: 1150px;
}

.information {
  margin-bottom: 50px;
}
.information__text {
  max-width: 1000px;
  margin: 0 auto 50px;
}
.information__text h2 {
  color: #575b71;
}
.information__text p {
  color: #575b71;
}
.information hr {
  -webkit-box-shadow: 2px 3px 6px black;
          box-shadow: 2px 3px 6px black;
}

.map {
  text-align: center;
  margin-bottom: 50px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__menu li {
  list-style: none;
}
.footer__menu a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #cc9900;
}
.footer__menu li:not(:last-child) {
  margin-bottom: 5px;
}
.footer__menu ul {
  margin: 0;
}
.footer__social {
  margin-bottom: 10px;
}
.footer__social div {
  margin-bottom: 5px;
}
.footer__first-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.footer__first-list li {
  font-size: 30px;
}
.footer__first-list li:not(:last-child) {
  margin-right: 10px;
}
.footer__first-list .fa-vk:hover {
  color: #457b9d;
}
.footer__first-list .fa-square-youtube:hover {
  color: #e63946;
}
.footer__first-list .fa-square-instagram:hover {
  color: #fcbf49;
}
.footer__pay div {
  margin-bottom: 5px;
}
.footer__second-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.footer__second-list li:not(:last-child) {
  margin-right: 10px;
}