@import "reset.css"
@import "normalize.css"

a
    text-decoration: none
    color: #023047

li
    list-style: none

@keyframes animation
    100%
        margin-left: 20px

.container
    max-width: 1450px
    height: 500px
    margin: 0 auto
    
.section_1
    background: url('../img/nabor_instumentov2.jpg') no-repeat
    height: 800px
    // position: relative
    margin-bottom: 100px
    &__header
        margin: 0 auto
    &__images
        margin-top: -20px
        height: 150px
        width: 250px
        margin-bottom: 70px
    &__navigation
        display: flex
        flex-direction: column
        li:not(:last-child)
            margin-bottom: 50px
        a
            font-family: 'Roboto Slab', serif
            font-weight: 400
            font-size: 40px
        a:hover
            color: red
            // animation-name: animation
            // animation-duration: 0.5s
            margin-left: 20px
            font-size: 50px 

.section_2
    .icons
        width: 40px
        height: 40px
        display: inline
        margin-right: 50px
        p
            display: inline
    &__input
        display: inline
        top: 0
    &__button
        width: 80px
        height: 36px
    &__find
        width: 400px
        height: 30px
    &__h2
        font-family: 'Roboto Slab', serif
        font-weight: 500
        font-size: 50px
        margin-bottom: 100px
        display: inline
        margin-right: 150px
    &__katalog
        display: flex
        flex-wrap: wrap
    &__product
        position: relative
        height: 400px
        width: 300px
        margin-right: 120px
        margin-bottom: 50px
        padding: 30px
        text-align: center
        .text__button
            width: 40px
            height: 30px
            border: none
            border-radius: 15px
            background-color: #fb8500
        .text__favoutires
            margin-right: 20px
        .img
            margin-bottom: 40px
            width: 250px
        img:hover
            width: 280px
        h3
            font-family: 'Roboto Slab', serif
            margin-bottom: 15px
            font-weight: 500
        p
            margin-bottom: 40px
        span
            font-size: 25px
        s
            color: red
            font-size: 20px
        
    &__text
        position: absolute
        bottom: 50px
        left: 100px


