// @import "reset.css"
@import "normalize.css"
@import "abstrakts/variables.sass"
@import "templates/body.sass"
@import "animations/animations.sass"
@import "header/header.sass"
@import "section_2/section_2.sass"
@import "about-site/about-site.sass"
@import "footer/footer.sass"


.container
    max-width: 1450px
    min-height: 200px
    margin: 0 auto
    position: relative








