@media ( max-width: 1199px )
    .container
        width: 974px
    .section_2__hr
        width: 950px
    .section_2
        .icons
            margin-right: 130px

@media ( max-width: 991px )
    .container
        width: 748px
    .sction-1__contacts
        p
            font-size: 13px
    .sction-1__navigation
        font-size: 18px
    .sction-1__label
        top: 60%
    .section_2
        .icons
            margin-right: 25px
    .section_2__hr
        width: 700px
    hr
        width: 700px
    .section_2__katalog
        display: flex
        justify-content: space-evenly
    .footer__menu
        padding-bottom: 40px
        display: flex
        justify-content: space-evenly
        ul
            padding: 0
            font-size: 13px
    
@media ( max-width: 767px )
    .container
        width: 540px
        
@media ( max-width: 575px )
    .container
        width: 100%